In [5]:
# Celda 1
import duckdb
import pandas as pd

# Configuraci√≥n opcional: Para que Pandas muestre m√°s columnas si la tabla es ancha
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

print("‚úÖ Librer√≠as importadas correctamente")

‚úÖ Librer√≠as importadas correctamente

In [6]:
# Celda 2: Cargar los datos a DuckDB
con = duckdb.connect()

# 1. Cargamos los logs de acceso (Tu tabla principal)
con.sql("""
    CREATE OR REPLACE TABLE access_logs AS 
    SELECT * FROM '../data/logs_access_logs.json'
""")

# 2. Cargamos los errores y servidores (Tablas de apoyo)
con.sql("""
    CREATE OR REPLACE TABLE error_logs AS 
    SELECT * FROM '../data/logs_access_logs.json'
""")

con.sql("""
    CREATE OR REPLACE TABLE servers AS 
    SELECT * FROM '../data/logs_access_logs.json'
""")

# 3. Verificamos
print("üìä Tablas creadas:")
con.sql("SHOW TABLES").show()

IOException: IO Error: Could not read file "../data/logs_access_logs.json" (error in ReadFile(location: 0, nr_bytes: 2250390)): El proveedor de sincronizaci√≥n en la nube no pudo realizar la operaci√≥n porque la red no est√° disponible.

In [ ]:
#Query 1: Exploraci√≥n Inicial

from IPython.display import display #importante para mostrar dataframes en Jupyter

# Vamos a ver las primeras 5 filas para entender qu√© columnas tenemos
print("Muestra de access_logs:")
display(con.sql("SELECT * FROM access_logs LIMIT 5").df())


print("Cantidad de datos:")
display(con.sql("SELECT COUNT(*) AS total_rows FROM access_logs").df())

print("Periodo de los datos:")
display(con.sql("""
    SELECT FIRST_VALUE(timestamp) OVER (ORDER BY timestamp) AS first_timestamp,
            LAST_VALUE(timestamp) OVER (ORDER BY timestamp ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_timestamp
    FROM access_logs
    LIMIT 1
""").df())

print("Usuarios √∫nicos:")
display(con.sql("""
    SELECT COUNT(DISTINCT user_id) AS unique_users
    FROM access_logs
""").df())

Muestra de access_logs:

   log_id           timestamp  service_id  server_id                trace_id        span_id method         endpoint  status_code  response_time_ms  request_size_bytes  response_size_bytes              user_agent      client_ip  user_id
0       1 2024-03-13 05:06:46           8          7  trace-9abe2e3d3055ff05  span-71608dc3   POST  /api/auth/login          404                40                 326                57577             Mozilla/5.0  96.123.163.20     <NA>
1       2 2025-07-17 16:26:44           2         12  trace-a73a9c8658488e40  span-56a0a80f    GET      /api/orders          503             22770               39474                  501   PostmanRuntime/7.29.0    6.55.171.77     5545
2       3 2024-04-17 16:14:55          10          2  trace-d3a7df6aa5c8c23f  span-650546b0   POST    /api/products          200               180               15453                22187  python-requests/2.28.0  48.246.10.118     <NA>
3       4 2024-09-08 19:06:05           3          4  trace-6646f8891d89bcb5  span-4e81d949   POST       /api/users          200                40               11293                17883   PostmanRuntime/7.29.0   33.70.37.102     <NA>
4       5 2024-01-14 11:16:27           2         12  trace-5f33d7ef9443422a  span-ed32e9bf    GET  /api/auth/login          400               424               39337                31075             Mozilla/5.0   9.180.191.49     8624

Cantidad de datos:

   total_rows
0        5000

Periodo de los datos:

      first_timestamp      last_timestamp
0 2024-01-01 03:01:31 2025-12-22 23:43:23

Usuarios √∫nicos:

   unique_users
0          2846

In [ ]:
# Query 2: Endpoints mas utilizados

display(con.sql("""
    SELECT endpoint, COUNT(endpoint) AS usage_count, 
    FROM access_logs
    GROUP BY endpoint
    ORDER BY usage_count DESC
""").df())

In [ ]:
# Query 3: Errores por endpoint y usuarios afectados

display(con.sql("""
    SELECT 
            endpoint,
            status_code,
            COUNT(status_code) AS total_errors,
            COUNT(DISTINCT user_id) AS unique_users,
    FROM access_logs
    GROUP BY endpoint, status_code
    ORDER BY endpoint, total_errors DESC
""").df())

In [ ]:
# Query 4: Tiempos de respuesta por endpoint

display(con.sql("""
    SELECT
            endpoint,
            AVG(response_time_ms) AS avg_response_time,
            quantile(response_time_ms, 0.95) AS p95_response_time
    FROM access_logs
    GROUP BY endpoint
    ORDER BY avg_response_time DESC
""").df())

In [ ]:
# Query 5: An√°lisis temporal de las solicitudes

display(con.sql("""
    SELECT
            EXTRACT(HOUR FROM timestamp) AS hour_of_day,
            COUNT(*) AS requests_count,
            AVG(response_time_ms) AS avg_response_time,
            quantile(response_time_ms, 0.95) AS p95_response_time
    FROM access_logs    
    GROUP BY hour_of_day
""").df())

In [ ]:


display(con.sql("""
    SELECT
            method,
            endpoint,
            AVG(response_time_ms) AS avg_response_time,
            RANK() OVER (PARTITION BY method ORDER BY avg_response_time DESC) AS response_time_rank
    FROM access_logs
    GROUP BY method, endpoint
""").df())

    method          endpoint  avg_response_time  response_time_rank
0   DELETE           /health        5122.547170                   1
1   DELETE  /api/auth/logout        4971.887097                   2
2   DELETE        /api/users        4431.983871                   3
3   DELETE   /api/auth/login        4093.758065                   4
4   DELETE          /metrics        3794.230769                   5
5   DELETE         /api/cart        3197.619048                   6
6   DELETE     /api/payments        3187.365079                   7
7   DELETE     /api/products        2948.519481                   8
8   DELETE     /api/checkout        2934.865672                   9
9   DELETE       /api/search        2301.271186                  10
10  DELETE       /api/orders        1961.346154                  11
11     GET         /api/cart        4725.775610                   1
12     GET   /api/auth/login        4719.848168                   2
13     GET  /api/auth/logout        3853.684729                   3
14     GET     /api/checkout        3838.250000                   4
15     GET           /health        3708.341232                   5
16     GET          /metrics        3541.542553                   6
17     GET       /api/search        3534.682540                   7
18     GET       /api/orders        3166.899471                   8
19     GET        /api/users        2999.462687                   9
20     GET     /api/products        2914.533654                  10
21     GET     /api/payments        2710.766355                  11
22   PATCH     /api/products        6079.218750                   1
23   PATCH       /api/orders        4801.547945                   2
24   PATCH  /api/auth/logout        4444.823529                   3
25   PATCH       /api/search        3968.434783                   4
26   PATCH          /metrics        3743.385714                   5
27   PATCH         /api/cart        3723.440678                   6
28   PATCH        /api/users        3713.732394                   7
29   PATCH     /api/payments        3541.660714                   8
30   PATCH   /api/auth/login        2873.508197                   9
31   PATCH           /health        2783.676471                  10
32   PATCH     /api/checkout        2115.507937                  11
33    POST     /api/checkout        4176.320000                   1
34    POST         /api/cart        4023.589286                   2
35    POST     /api/products        3186.961538                   3
36    POST           /health        3179.095238                   4
37    POST       /api/search        3068.509804                   5
38    POST   /api/auth/login        2672.726027                   6
39    POST          /metrics        2556.576271                   7
40    POST     /api/payments        2404.846154                   8
41    POST        /api/users        2331.942857                   9
42    POST  /api/auth/logout        1970.108108                  10
43    POST       /api/orders        1817.238095                  11
44     PUT   /api/auth/login        4967.517241                   1
45     PUT     /api/checkout        4032.973684                   2
46     PUT        /api/users        3871.593750                   3
47     PUT       /api/orders        3532.049180                   4
48     PUT         /api/cart        3162.690141                   5
49     PUT  /api/auth/logout        3082.853333                   6
50     PUT       /api/search        2979.737705                   7
51     PUT          /metrics        2977.915493                   8
52     PUT     /api/payments        2503.082192                   9
53     PUT           /health        2372.100000                  10
54     PUT     /api/products        1940.730159                  11